body {
    background-size: cover;
}

#main1 {
    width:80%;
    margin:auto;
    //background-color: coral;
    display:flex;
    justify-content: center;
}

#main2 {
    display: flex;
    justify-content: space-around;
    margin:auto;
    margin-top: 10%;
    width:80%;
}

.area {
    width: 30%;
    background-color:bisque;
    display:flex;
    align-items: center; 
    justify-content: center;
    margin-right: 5px;
}

.square {
    width:20px; 
    height:20px;
    display: inline-block;
}

ul > li {   
    list-style-type: none;
    margin:0 20px 20px 0;  
}

ul {
   padding: 0px; 
}

#background, #foreground, #images
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.categText {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.customArea {
    background-color:bisque;
    width: 200px;
    height: 70px;
    borde
}