body {
    background-color: #f0ded3 !important;
}

nav .navbar-nav li a{
  color: white !important;
}

#main{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#picture{
    background-image: url("../images/cup.jpg");
    background-size: cover;
    height: 500px;
    width: 800px;
    animation-name: myfadeIn;
    animation-duration: 4s;
}

#mainMenu {
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    margin-top: 30px;
}

.itemCup {
    display:flex;
    align-items: center;
    background-image: url("../images/cup3.png");
    background-repeat: no-repeat;
    background-position: center;
    height:200px;
    width:270px;
    padding-right:30px;
}

.newheight {
    height:100px;
}

/* ** animation sample 1 ** */
@keyframes myfadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    } 
}

@keyframes anim1{
	from {opacity:0;}
    to {opacity:1;}
}

/* ** animation sample 2 ** */
#square:hover{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg); 
	-moz-transform: rotate(45deg);
}

.location{
	top: 39%;
	left: 45%;
}

#square {
    position: absolute;
	-webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    height:50px;
    width:50px;
    background-color: red;
}

/*
<div id="square" class="location">
</div>
*/



